.o-container{
	
    width: 80%;
    max-width: 1080px;
    margin: auto;
    padding: 50px 20px;

    @include md{

        padding: 100px 20px;
    }

    &--no-padding{

    	padding: 0px;
    }

    &--header{

		@include md{

		    width: 100%;
		    max-width: 100%;
		    padding-right: 30px;
		    padding-left: 30px;
    	}
    	
    	@include lg{

    		padding-right: 130px !important;
    		padding-left: 130px !important;
    	}
    }
}