.o-slider{

    position: relative;
	
    &__item{

        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
    }

    &__arrow{

            position: absolute;
            top: 50%;
            z-index: 999;
            font-size: 30px;
            cursor: pointer;
            opacity: 0;
            transition: .4s all ease-in-out;

        &--next{

            right: 20px;
            transform: translate(+50px, -50%);
        }

        &--prev{

            left: 20px;
            transform: translate(-50px, -50%);
        }

        &:focus{

            outline: none!important;
        }
    }

    &:hover &__arrow{

        opacity: 1;
        transform: translate(0px, -50%);
    }
}