.o-text{

	&__title{

		font-size: 35px;
	    font-weight: 700;
	    line-height: 1em;
	    position: relative;
	    padding-bottom: 20px;
	    margin-bottom: 20px;

	    &:after{

	    	position: absolute;
	    	bottom: 0;
	    	left: 50%;
    		transform: translateX(-50%);
	    	width: 150px;
	    	height: 1px;
	    	background: black;
	    	content: "";
	    }
	}

	&__center{

		text-align: center;
	}
}