// =========================================================================================
// VARS
// =========================================================================================


// DEBUG
$debug : false;


// PALETTE

	// COLOR PRIMARY
	$color-a: #71a6cf;

	// COLOR SECONDARY
	$color-b : #5D7CA3;

	// COLOR THREE
	$color-c : #4e5056;

	// COLOR FOUR
	$color-d : #E5E7E9;


// TIPOGRAPHY

	// FONTS
	$font-a 		: 'Raleway';

	// DEFAULT SIZE
	$font-size-initial : 16px;

	// DEFAULT LINE HEIGHT
	$line-height-initial : 16px;

	// DEFAULT WEIGHT
	$font-weight-initial : 500;

	$fa-font-path	     : "../fonts";

// THEME VARS


	//BUTTONS

		$vdrButtonTransition : .4s all ease-in-out; 
// MENU

	// DESKTOP

	// MOBILE


	// MAX WIDTH LOGO
	$max-width-logo : 240px;

// CUSTOM SCROLLBAR VARS

	// SIZE
	$scrollbar__size : 8px;
	$scrollbar-button__size : 1px;

	// RAIL
	$scrollbar-track__bg : transparent;
	$scrollbar-track__border : 1px solid transparent;
	$scrollbar-track__border-radius : 10px;

	// BUTTON
	$scrollbar-thumb__bg : #303030;
	$scrollbar-thumb__border : 1px solid #FEFEFE;
	$scrollbar-thumb__border-radius : 10px;

	


