.c-desktop-menu{

	display: none;
}

@include md(){

	
	.c-desktop-menu{

		display: block;

		&__menu{

			.menu-item{

				max-width: 95px;
    			text-align: center;
				position: relative;

				&:hover{
					
					& .sub-menu{
						
						opacity: 1;
						visibility: visible;
					}
				}

				& > a{

					font-size: 14px;
				}
			}	
		}

		.sub-menu{

		    visibility: hidden;
		    opacity: 0;
		    transition: .3s all ease-in-out;
		    width: 200px;
		    background: #71a6cf;
		    top: 108%;
		    left: 50%;
		    border-top: 2px solid #3d6a8d;
		    transform: translateX(-50%);
		    padding: 15px;
		    position: absolute;

		    .menu-item{

		    	max-width: 100%;
		    	margin-right: 0px;

		    	& > a{

		    		color: white;
		    		display: block;
    				padding: 5px 0px;

		    		&:hover{

		    			color: #3d6a8d;
		    			font-weight: 600;
		    		}
		    	}
		    }
		}
	}
	
}