.c-home-slider{

	&__item{

		min-height: calc(100vh - 161.5px);
	}

	&__content{

		width: 100%;
		padding: 20px;

		@include md(){
			
			width: 50%;
		}

		&-title{

			font-weight: 700!important;
		    font-size: 35px!important;
		    color: #000000!important;
		}

		&-subtitle{

		    font-size: 20px!important;
		    color: #000000!important;
		    font-weight: 400;
		}

		&-button{
		    background-color: #6ddcd1;
		    padding: 10px 18px !important;
		    border-radius: 3px !important;
		    font-weight: 600;
		    color: #fff !important;
		}
	}
}