.c-home-into{

	&__advert{
	
		width: 100%;
		margin-bottom: 40px;

		@include md(){

			width: calc((100% / 3) - 30px);
			margin-bottom: 0px;
		}

		&-container{

			margin-top: 50px;
		}

		&-img{

			max-width: 150px;
		}

		&-title{

			font-weight: 700;
			font-size: 18px;
			position: relative;
			margin: 15px 0px;
    		padding-bottom: 15px;

			&:after{

				content: "";
				position: absolute;
				left: 50%;
				bottom: 0px;
				height: 1px;
				width: 100px;
				background: black;
				transform: translateX(-50%);
			}
		}
	}
}