.c-home-team{

	&__item{

		width: 100%;
		padding: 20px 0px;

		@include md(){

			width: calc((100% / 4 ) - 20px);
		}

		&--big{

			width: 100%;
			order: -1;

			@include md(){

				width: calc((100% / 2 ) - 20px);
				order: 0;
			}
		}

		&-link{

			position: relative;
			display: inline-block;
			max-width: 200px;

			&:after{

		    	content: "";
		    	background: $color-c;
		    	width: 50px;
		    	height: 2px; 
		    	left: 50%;
		    	bottom: 15px;
		    	transform: translateX(-50%);
		    	position: absolute;
		    	transition: all .5s ease-in-out;

		    }

		    &:hover{

		    	&:after{
		    		width: 150px;
		    	}

		    	.c-home-team__item-img{

		    	    border: 3px solid $color-a;
		    	}

		    }

		}

		&-img{

		    border-radius: 500px 500px 500px 500px;
		    overflow: hidden;
		    border: 3px solid rgba(63,63,63,.5);
		    transition: all .5s ease-in-out;
		    line-height: 0px;
		    margin-bottom: 30px;
		}

		&-name{

			font-size: 20px;
		    font-weight: 700;
		}

		&-text{

		    font-weight: 400;
		    font-size: 14px;
		    padding-top: 13px;
		    line-height: 22px;
		}

		&-title{

		    font-weight: 700;
    		font-size: 35px;
    		position: relative;
		}

		&-content{

			font-size: 16px;
		}

		&-button{

			background-color: $color-a;
		    padding: 10px 18px;
		    border-radius: 3px;
		    font-weight: 600;
		    color: #fff;
		    line-height: 100px;
		    border: 1px solid #71a6cf;
		    transition: all .5s ease-in-out;

		    &:hover{
		    	background: white;
		    }
		}
	}
}