.c-home-parallax{
	
	min-height: calc(100vh - 161.5px);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: right;

    &-wrapper{

    	width: 100%;

    	@include md(){

    		width: 50%;
    	}
    }

    &-title{

    	font-weight: 700;
    	font-size: 30px;
    }

    &__text{

    	font-weight: 500;
    	font-size: 14px;
    	width: calc(100% - 50px);
    }

    &__icon{

    	width: 50px;
	    font-size: 30px;
	    color: $color-a;
    }

    &__advert{

    	padding: 30px 0px;

    	&-title{

    		font-size: 22px;
    		margin-bottom: 10px;
    		font-weight: 600;
    	}

    	&-subtitle{

    		font-weight: 500;
		    font-size: 14px;
		    line-height: 20px;
		}
    }
}