/* ========================================================================================= */
/* TOOLS - MIXINS */
/* ========================================================================================= */

    @mixin sm() {
        @media (min-width: 501px) {
            @content;
        }
    }

    @mixin md() {
        @media (min-width: 981px) {
            @content;
        }
    }

    @mixin lg() {
        @media (min-width: 1471px) {
            @content;
        }
    }


    // RANGE
    @mixin only-xs() {
        @media (min-width: 0px) and (max-width: 500px) {
            @content;
        }
    }
    @mixin only-sm() {
        @media (min-width: 501px) and (max-width: 980px) {
            @content;
        }
    }
    @mixin only-md() {
        @media (min-width: 981px) and (max-width: 1470px){
            @content;
        }
    }

    @mixin only-lg() {
        @media (min-width: 1471px) {
            @content;
        }
    }

    // VDR - CUSTOM SCROLLBAR
    @mixin vdr-custom-scrollbar(){

        &::-webkit-scrollbar {

            width: $scrollbar__size;
            height: $scrollbar__size;

        }

        &::-webkit-scrollbar-button {

            width: $scrollbar-button__size;
            height: $scrollbar-button__size;

        }

        &::-webkit-scrollbar-thumb {

            background: $scrollbar-thumb__bg;
            border: $scrollbar-thumb__border;
            border-radius: $scrollbar-thumb__border-radius;

        }

        &::-webkit-scrollbar-track {

            background: $scrollbar-track__bg;
            border: $scrollbar-track__border;
            border-radius: $scrollbar-track__border-radius;

        }

        &::-webkit-scrollbar-corner {

            background: transparent;

        }

    }


/* ========================================================================================= */
/* END TOOLS - MIXINS */
/* ========================================================================================= */

